@import '_variables.scss';

@keyframes flyInLeft {
    from {transform: translateX(-375px);}
    to {transform: none;}
}

@keyframes flyInRight {
    from {transform: translateX(500px);}
    to {transform: none;}
}

@keyframes smoothText {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes dummeAnimation {
    from {transform: rotate3d(5,5,5,0deg)}
    to {transform: rotate3d(5,5,5,360deg);}
}