@import '_variables.scss';

.auth {
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: $BGdark-color;
  color: white;
  padding: 1.5rem 3rem;
  user-select: none;
  width: 100%;

  &.recoverpw {
    justify-content: flex-start;
  }

  section {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;
  }
  
  .auth-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .auth-headline {
      text-align: center;
      font-size: 2.2rem;
      padding: 6px 0;
    }
    .auth-other {
      text-align: center;
      font-size: 1.2rem;
    }
  }

  .auth-body .auth-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .auth-form-field {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      padding: 1rem 0;

      .auth-form-wrap {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        label {
          color: white;
          font-size: 1.2rem;

          input{
            width: 1rem;
            height: 1rem;
            background-color: #eee;
            margin-right: 5px;
          }
        }
      }

      input {
        font-size: 1.2rem;

        &[type="submit"] {
          &:active {
            background-color: $secondary-color;
          }
        }
      }
    }

    .auth-recover-password {
      display: flex;
      flex-direction: row;
      justify-content: center;

      a {
        font-size: 1rem;
      }
    } 
  }
}