@import '_variables.scss';

.auth {
  flex-direction: column;
  justify-content: space-evenly;
  background-color: $BGdark-color;
  padding: 1.5rem 3rem;

  section {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 1rem 0;
  }
  
  .auth-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .auth-headline {
      text-align: center;
      font-size: 1.9rem;
      padding: 6px 0;
      color: white;
    }
    .auth-other {
      text-align: center;
      font-size: 1rem;
    }
  }

  .auth-body .auth-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .auth-form-field {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      padding: 1rem 0;

      .auth-form-wrap {
        display: flex;
        flex-direction: row;
        justify-content: left;

        label {
          padding-left: 4px;
          padding-top: 1px;
          color: white;
        }
      }

      label {
        font-size: .9rem;
        padding-bottom: 4px;
        color: white;
      }

      input {
        font-size: 1rem;

        &[type="submit"] {
          &:active {
            background-color: $secondary-color;
          }
        }
      }
    }

    .auth-recover-password {
      display: flex;
      flex-direction: row;
      justify-content: center;

      a {
        font-size: .7rem;
      }
    } 
  }
}