@import '_variables.scss';

.footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    background-color: $BG-color;

    .fooLinks{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        a {
            padding: 3px;
            margin: 15px 20px;
            color: #f7f7f7;
            text-decoration: none;
            font-size: 1.5rem;
            color: $link-color;
        }
    }

    .fooNotes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        
        div{
            margin: 18px 20px;
            color: #f7f7f7;
            text-decoration: none;
            font-size: 20px;
        }
    }
}