@import '_variables.scss';

/* Gefühl-Table */

.linkClassic {
    padding: 5px;
    align-self: flex-start;
  }

#gefuehlTab {
    display: grid;
    grid-template-columns: auto 80px;
    grid-auto-rows: auto;
    user-select: none;

    div {
        &.gefuehlBox {
            background-color: #466b23;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding: 8px 0;
            border-bottom: 1px solid #3a591cd6;
            
            &:hover {
                background-color: darken(#466b23, 3%);
            }

            div,i {
                color: white;
                text-decoration: none;
                font-size: 2rem;
                margin: 0 10px;
            }
        }
        &.iconBox {
            background-color: #ef692f;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-bottom: 1px solid #ca5928e6;

            i {
                color: white;
            }
        }
        &.explBox {
            background-color: darken(#466b23, 6%);
            display: none; //flex
            border: 1px inset #466b23;
            justify-content: flex-start;
            flex-direction: column;
            align-items: left;
            grid-column: 1 / span 2;
            padding: 5px 10px;
            div{
                div {
                    font-size: 1.5rem;
                    color: #eee;
                }
                ul {
                    font-size: 1.1rem;
                    color: #eee;
                    margin: 1px 0 4px 20px;
                }
            }
        }
    }
}

#popupContainer {
    display: flex;
    position: fixed;
    z-index: 10002;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;

    .popup {
        display: grid;
        background-color: white;
        text-align: center;
        z-index: 10002;
        user-select: none;
        padding: 20px;

        div {
        }

        .yesNo {
            height: 50px;
            width: 50px;
            font-size: 2rem;
            background-color: white;
            color: gray;
            border: 1px solid gray;
            border-radius: 100%;
        }
    }
}

@media (min-width: 1024px) {
    .explBox {
        flex-direction: row!important;
        justify-content: space-around!important;
    }
}

