@import '_variables.scss';


#navAuth {
  align-self: flex-start;
  display: none;
  width: 100%;
  max-width: 375px;
}

@keyframes dropdown {
  from {max-height: 0;}
  to {max-height: 100vh;}
}
@keyframes dropdownText {
  from {opacity: 0;}
  to {opacity: 1;}
}

#navBar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  user-select: none;

  /* Mobile Nav */
  .mobileNav {
    
    #mobNavBar {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      background-color: #183f39;
    
      #titleBox {
        display: flex;
        width: auto;
        justify-content: center;
        align-items: center;
      }
      #mobNavRight {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 25%;
        div {
          color: white;
          padding: 15px 20px;
          font-size: 32px;
          cursor: pointer;
          }
      }
      #mobNavLeft {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 25%;
        a {
          color: white;
          padding: 15px 20px;
          font-size: 32px;
        }
      }
    }
    
    #xMark {
      display: none;
      background-color: darken($BG-color, $amount: 4%);
    }
    
    #mobNavDropdown {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: stretch;
      background-color: $BGdark-color;
      animation: dropdown 0.15s ease-out;

      a:not(:last-child) {
      border-bottom: 1px solid #ffffff32;
      }

      a {
      color: #f7f7f7;
      text-decoration: none;
      padding: 15px 20px;
      font-size: 32px;
      animation: dropdownText 0.25s ease-in;
      }
    }
  }
    
    /* Desktop Nav */
    @media only screen and (min-width: 1024px) {
      .mobileNav {
        display: none!important;
      }
      .desktopNav {
        display: flex!important;
      }
    }
    
    .desktopNav {
      display: none;
      align-items: stretch;
      justify-content: space-between;
      background-color: $BG-color;
    
        #titleBox {
          display: flex;
          width: 33.3333%;
          justify-content: center;
          align-items: center;
        }
        #deskNavRight {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 33.3333%;
          a {
            color: white;
            padding: 14px 20px;
            text-decoration: none;
            font-size: 32px;
            font-weight: 400;
            &:hover {
              background-color: $BGdark-color;         
            }
          }
        }
        #deskNavLeft {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 33.3333%;
          a {
            color: white;
            padding: 14px 20px;
            text-decoration: none;
            font-size: 32px;
            font-weight: 400;
            &:hover {
              background-color: #12302c;         
            }
          }
        }
      }
    }
  
  /* General */
  
  #title {
    color: white;
    font-size: 35px;
    text-decoration: none;
    font-weight: bolder;
    padding: 3px 3px;
  }