@import '_variables.scss';


#navAuth {
  display: none;
  align-self: flex-start;
  width: 100%;
  max-width: 375px;
}

#navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  user-select: none;
  margin: 0;
  z-index: 99999;
    
  #navBar {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: #183f39;
  
    #titleBox {
      display: flex;
      width: auto;
      justify-content: center;
      align-items: center;
    }
    #navBarRight {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 20%;
      a {
        color: white;
        padding: 15px 20px;
        font-size: 32px;
      }
      #xMark {
        display: none;
        background-color: darken($BG-color, $amount: 4%);
      }
    }
    #navBarLeft {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 20%;
      a {
        color: white;
        padding: 15px 20px;
        font-size: 32px;
      }
    }
  }
  
  #navDropdown {
    display: none; //flex
    align-self: flex-end;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 500px;
    background-color: $BGdark-color;
    animation: flyInRight 0.15s ease-out;

    a {
    color: #f7f7f7;
    text-decoration: none;
    padding: 20px 10px;
    margin: 0 auto;
    font-size: 32px;
    text-align: center;
      &:not(:last-child) {
        border-bottom: 1px solid #ffffff32;
      }
      &:hover {
        color: $link-color;
      }
    }
  }
}
  
#title {
  color: white;
  font-size: 35px;
  text-decoration: none;
  font-weight: bolder;
  padding: 3px 3px;
}