@charset "UTF-8";
.auth {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #12302c;
  padding: 1.5rem 3rem;
}

.auth section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
}

.auth .auth-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth .auth-header .auth-headline {
  text-align: center;
  font-size: 1.9rem;
  padding: 6px 0;
  color: white;
}

.auth .auth-header .auth-other {
  text-align: center;
  font-size: 1rem;
}

.auth .auth-body .auth-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.auth .auth-body .auth-form .auth-form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 0;
}

.auth .auth-body .auth-form .auth-form-field .auth-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.auth .auth-body .auth-form .auth-form-field .auth-form-wrap label {
  padding-left: 4px;
  padding-top: 1px;
  color: white;
}

.auth .auth-body .auth-form .auth-form-field label {
  font-size: .9rem;
  padding-bottom: 4px;
  color: white;
}

.auth .auth-body .auth-form .auth-form-field input {
  font-size: 1rem;
}

.auth .auth-body .auth-form .auth-form-field input[type="submit"]:active {
  background-color: #f3461b;
}

.auth .auth-body .auth-form .auth-recover-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth .auth-body .auth-form .auth-recover-password a {
  font-size: .7rem;
}

#navAuth {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: none;
}

#navBar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Mobile Nav */
  /* Desktop Nav */
}

#navBar .mobileNav #mobNavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #183f39;
}

#navBar .mobileNav #mobNavBar #titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navBar .mobileNav #mobNavBar #mobNavRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

#navBar .mobileNav #mobNavBar #mobNavRight a {
  color: white;
  padding: 15px 20px;
  font-size: 32px;
}

#navBar .mobileNav #mobNavBar #mobNavLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

#navBar .mobileNav #mobNavBar #mobNavLeft a {
  color: white;
  padding: 15px 20px;
  font-size: 32px;
}

#navBar .mobileNav #xMark {
  display: none;
  background-color: #12302c;
}

#navBar .mobileNav #mobNavDropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  background-color: #12302c;
}

#navBar .mobileNav #mobNavDropdown div {
  padding: 18px 20px;
  border-bottom: 1px solid #ffffff32;
}

#navBar .mobileNav #mobNavDropdown a {
  color: #f7f7f7;
  text-decoration: none;
  padding: 18px 20px;
  font-size: 32px;
}

@media only screen and (min-width: 1024px) {
  #navBar .mobileNav {
    display: none !important;
  }
  #navBar .desktopNav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

#navBar .desktopNav {
  display: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #183f39;
}

#navBar .desktopNav #titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.3333%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navBar .desktopNav #deskNavRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.3333%;
}

#navBar .desktopNav #deskNavRight a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 32px;
  font-weight: 400;
}

#navBar .desktopNav #deskNavRight a:hover {
  background-color: #12302c;
}

#navBar .desktopNav #deskNavLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.3333%;
}

#navBar .desktopNav #deskNavLeft a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 32px;
  font-weight: 400;
}

#navBar .desktopNav #deskNavLeft a:hover {
  background-color: #12302c;
}

/* General */
#title {
  color: white;
  font-size: 35px;
  text-decoration: none;
  font-weight: bolder;
  padding: 3px 3px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  background-color: #183f39;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer .fooLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.footer .fooLinks a {
  margin: 15px 25px;
  padding: 8px 8px;
  color: #f7f7f7;
  text-decoration: none;
  font-size: 20px;
  color: #efac28;
  border-bottom: 1px solid #ffffff32;
}

.footer .fooNotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.footer .fooNotes div {
  margin: 18px 20px;
  color: #f7f7f7;
  text-decoration: none;
  font-size: 20px;
}

/* Gefühl-Table */
.linkClassic {
  padding: 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#gefuehlTab {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 80px;
      grid-template-columns: auto 80px;
  grid-auto-rows: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#gefuehlTab div.gefuehlBox {
  background-color: #466b23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 8px 0;
  border-bottom: 1px solid #3a591cd6;
}

#gefuehlTab div.gefuehlBox:hover {
  background-color: #3e5f1f;
}

#gefuehlTab div.gefuehlBox div, #gefuehlTab div.gefuehlBox i {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin: 0 10px;
}

#gefuehlTab div.iconBox {
  background-color: #ef692f;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #ca5928e6;
}

#gefuehlTab div.iconBox i {
  color: white;
}

#gefuehlTab div.explBox {
  background-color: #37541b;
  display: none;
  border: 1px inset #466b23;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  padding: 5px 10px;
}

#gefuehlTab div.explBox div div {
  font-size: 1.5rem;
  color: #eee;
}

#gefuehlTab div.explBox div ul {
  font-size: 1.1rem;
  color: #eee;
  margin: 1px 0 4px 20px;
}

#blockScreen {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #24242499;
  z-index: 10001;
}

.popupContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popupContainer .popup {
  display: none;
  position: fixed;
  background-color: white;
  text-align: center;
  z-index: 10002;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 20px;
}

.popupContainer .popup .yesNo {
  height: 50px;
  width: 50px;
  font-size: 2rem;
  background-color: white;
  color: gray;
  border: 1px solid gray;
  border-radius: 100%;
}

@media (min-width: 1024px) {
  .explBox {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-smooth: always;
}

:root {
  font-size: 16px;
  font-family: "Gill Sans", Helvetica, sans-serif;
}

:root,
body {
  width: 100%;
  height: 100%;
}

label {
  display: block;
}

input {
  border: 1px solid rgba(17, 17, 17, 0.4);
  border-radius: 5px;
}

input[type='text'], input[type='password'], input[type='email'] {
  border: none;
  border-bottom: 1px solid #363636;
  border-radius: 0;
}

input:focus {
  outline: none;
}

input[type='submit'],
button {
  -webkit-appearance: none;
  padding: 0.4rem 0.3rem;
  cursor: pointer;
  color: #fff;
  background-color: #ef692f;
  border: 2px solid #ef692f;
  font-size: 1.2rem;
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
}

input[type='submit']:active,
button:active {
  color: #ef692f;
  background-color: #fff;
  border: 2px solid #ef692f;
}

input[type='submit']:disabled,
button:disabled {
  cursor: default;
  color: #8f8f8f;
  background-color: #fff;
  border-color: #8f8f8f;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: calc(100vh - 7rem);
  margin: 5rem 0 2rem;
}

h1 {
  text-align: center;
  color: #183f39;
  font-weight: 400;
}

h2 {
  font-size: 1.1rem;
  font-weight: normal;
}

hr {
  width: 52px;
  color: #e2e2e2;
  border-style: solid;
  margin: 24px auto 30px auto;
}
/*# sourceMappingURL=style.css.map */