<div id="login" class="login auth">
  <section class="auth-header">
    <a href="javascript:void(0)" class="auth-other" onclick="toggleAuthMethod()">Registrieren</a>
    <div class="auth-headline">Anmelden</div>
  </section>
  <section class="auth-body">
    <form action="/user/login" method="post" class="auth-form" id="login-form">
      <div class="auth-form-field">
        <label for="email">Email</label>
        <input type="email" name="email" class="auth-input">
      </div>
      <div class="auth-form-field">
        <label for="password">Passwort</label>
        <input type="password" name="password" class="auth-input">
      </div>
      <div class="auth-form-field">
        <div class="auth-form-wrap">
          <input type="checkbox" name="stay" class="auth-input" id="auth-input-stay">
          <label for="stay">Angemeldet bleiben</label>
        </div>
      </div>
      <div class="auth-form-field">
        <input type="submit" value="Anmelden" class="auth-submit">
      </div>
      <div class="auth-recover-password">
        <a href="/user/recoverpw">Passwort vergessen</a>
      </div>
    </form>
  </section>
</div>

<div id="register" class="register auth" style="display: none;">
  <section class="auth-header">
    <a href="javascript:void(0)" class="auth-other" onclick="toggleAuthMethod()">Anmelden</a>
    <div class="auth-headline">Registrieren</div>
  </section>
  <section class="auth-body">
    <form action="/user/register" method="post" class="auth-form" id="login-form">
      <div class="auth-form-field">
        <label for="email">Email</label>
        <input type="email" name="email" class="auth-input">
      </div>
      <div class="auth-form-field">
        <label for="password">Passwort</label>
        <input type="password" name="password" class="auth-input">
      </div>
      <div class="auth-form-field">
        <div class="auth-form-wrap">
          <input type="checkbox" name="stay" class="auth-input" id="auth-input-stay">
          <label for="stay">Angemeldet bleiben</label>
        </div>
      </div>
      <div class="auth-form-field">
        <input type="submit" value="Registrieren" class="auth-submit">
      </div>
    </form>
  </section>
</div>

<script>
  const toggleAuthMethod = () => {
    const auth = document.getElementsByClassName('auth');
    for(let elem of auth) {
      elem.style.display = elem.style.display == 'none' ? 'flex' : 'none';
    }
  }
</script>