<footer class="footer">
    <div class="fooLinks">
        <a href="javascript:void(0)">Impressum</a>
        <a href="javascript:void(0)">About Us</a>
        <a href="javascript:void(0)">Datenschutz</a>
    </div>
    <div class="fooNotes">
        <div>Copyright© 2022 DBT-Hub - Alle Rechte vorbehalten</div>
        <div>Creators: Harkan Berger & Jacob Jahns</div>
    </div>
</footer>