<nav id="navigation">
  <nav id="navBar">
    <div id="navBarLeft">
      <a href="javascript:void(0);" id="userIcon" ontouchstart="toggleAuthMenu(0)" onclick="toggleAuthMenu(1)">
        <i class="fa-solid fa-user"></i>
      </a>
    </div>
    <div id="titleBox">
      <a href="/" id="title">DBT-Hub</a>
    </div>
    <div id="navBarRight">
      <a href="javascript:void(0);" id="bars" ontouchstart="toggleNavMenu(0)" onclick="toggleNavMenu(1)">
        <i class="fa-solid fa-bars"></i>
      </a>
      <a href="javascript:void(0);" id="xMark" ontouchstart="toggleNavMenu(0)"  onclick="toggleNavMenu(1)">
        <i class="fa-solid fa-xmark fa-lg"></i>
      </a>
    </div>
  </nav>

  <nav id="navDropdown">
    <a href="/vexperiment">Verhaltensexperiment</a>
    <a href="/eregulation" target="_parent">Emotionsregulation</a>
  </nav>

  <div id="navAuth">
    {{> auth}}
  </div>

</nav>