<section id="navigation">
  <nav id="navBar">
    <div id="navBarLeft">
      <div id="userIcon" onclick="toggleAuthMenu()">
        <i class="fa-solid fa-user"></i>
      </div>
    </div>
    <div id="titleBox">
      <a href="/" id="title">DBT-Hub</a>
    </div>
    <div id="navBarRight">
      <div id="bars" onclick="toggleNavMenu()">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div id="xMark" onclick="toggleNavMenu()">
        <i class="fa-solid fa-xmark fa-lg"></i>
      </div>
    </div>
  </nav>

  <section id="dropdownMenus">
    <div id="navAuth">
      {{> auth}}
    </div>
    <nav id="navDropdown">
      <a href="/vexperiment">Verhaltensexperiment</a>
      <a href="/eregulation" target="_parent">Emotionsregulation</a>
    </nav>
  </section>

</section>