<!DOCTYPE html>
<html lang="de-DE">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/6ea270afe6.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/style/style.css">
</head>
<body>

{{> navbar}}

<main>

    <section class="header">
        <h1>Emotionsregulation</h1>
        <hr>
    </section>

    <a href="#explanation" class="linkClassic">Wie funktioniert es?</a>
    <section id="gefuehlTab">
        <div class="gefuehlBox" onclick="textBoxOpen(0)">
            <div>Trauer</div>
            <i class="iconExpl fa-solid fa-arrow-down-wide-short"></i>
            <i class="iconExpl fa-solid fa-arrow-up-short-wide" style="display: none;"></i>
        </div>
        <div class="iconBox" onclick="popupOpen(0,'Trauer')">
            <i class="fa-solid fa-arrow-right-long"></i>
        </div>
        <div class="explBox">
            <div>
                <span>Wahrnehmung</span>
                <ul>
                    <li>Umgebung wirkt fahl, leer</li>
                    <li>Gefühl von Verzweiflung, Zerissenheit</li>
                </ul>
            </div>
            <div>
                <span>Handlungsdrang</span>
                <ul>
                    <li>Rückzug aus Verantwortung, Beziehungen</li>
                    <li>Signal nach Trost and die Umgebung</li>
                </ul>
            </div>
            <div>
                <span>Körperreaktion</span>
                <ul>
                    <li>Weinen, Klagen, Müdigkeit</li>
                    <li>Atemnot, Schmerz in der Brust</li>
                </ul>
            </div>
        </div>
        <div class="gefuehlBox" onclick="textBoxOpen(1)">
            <div>Wut/Ärger</div>
            <i class="iconExpl fa-solid fa-arrow-down-wide-short"></i>
            <i class="iconExpl fa-solid fa-arrow-up-short-wide" style="display: none;"></i>            
        </div>
        <div class="iconBox" onclick="popupOpen(0,'Wut')">
            <i class="fa-solid fa-arrow-right-long"></i>
        </div>
        <div class="explBox">
            <div>
                <span>Wahrnehmung</span>
                <ul>
                    <li>starker Fokus auf sich selbst</li>
                    <li>Suche nach Bestätigung der eigenen Wahrnehmung</li>
                </ul>
            </div>
            <div>
                <span>Handlungsdrang</span>
                <ul>
                    <li>physisch, verbal anzugreifen</li>
                    <li>aggressive drohende Gesten</li>
                </ul>
            </div>
            <div>
                <span>Körperreaktion</span>
                <ul>
                    <li>muskuläre Anspannung wie Fäuste ballen</li>
                    <li>Gesicht rot, warm</li>
                    <li>Bereitschaft loszubrüllen, zu weinen</li>
                </ul>
            </div>
        </div>
                <div class="gefuehlBox" onclick="textBoxOpen(2)">
            <div>Angst</div>
            <i class="iconExpl fa-solid fa-arrow-down-wide-short"></i>
            <i class="iconExpl fa-solid fa-arrow-up-short-wide" style="display: none;"></i>
        </div>
        <div class="iconBox" onclick="popupOpen(0,'Angst')">
            <i class="fa-solid fa-arrow-right-long"></i>
        </div>
        <div class="explBox">
            <div>
                <span>Wahrnehmung</span>
                <ul>
                    <li>Fokus auf Signale für Gefahr</li>
                    <li>Erinnerung an frühere Angstsituation</li>
                    <li>Dissoziation bei starker Angst</li>
                </ul>
            </div>
            <div>
                <span>Handlungsdrang</span>
                <ul>
                    <li>fliehen, angreifen, Hilfe suchen</li>
                </ul>
            </div>
            <div>
                <span>Körperreaktion</span>
                <ul>
                    <li>auf Kampf, Flucht, Totstellen vorbereiten</li>
                    <li>Herzklopfen, Kloß im Hals, Sprachstörung, Durchfall, schnelle Atmung</li>
                    <li>dissoziative Symptome</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="explanation">
        <h2>Wie funktioniert es?</h2>
        <hr>
        <div>Wähle dein aktuelles Gefühl aus und klicke auf den Pfeil der nach rechts zeigt.</div>
        <div>Wenn du dir bei einem Gefühl nicht sicher bist, klicke auf den Pfeil daneben, um eine Beschreibung zu bekommen.</div>
        <div>Dann werden dir nacheinander 3 Fragen zum Gefühl gestellt.</div>
        </div>
        <ol>
            <li>Kann ich noch sinnvoll Handeln?</li>
            <li>Ist mein Gefühl der Situation angemessen?</li>
            <li>Ist mein Handlungsimpuls auch langfristig sinnvoll?</li>
        </ol>
        <div>Wenn du alle Fragen mit "Daumen hoch" bestätigen kannst, folge dem Handlungsimpuls des Gefühls.</div>
        <div>Ansonsten muss das Gefühl abgeschwächt werden!</div>
        <div>Das tust du, indem du dich entgegengesetzt zum Handlungsimpuls verhälst.</div>
        <div>Dabei geht es allerdings nicht um Verdrängung, sondern um einen funktionaleren Weg mit der Emotion umzugehen.</div>
        <div>Nachdem das Gefühl abgeschwächt wurde, solltest du daher nochmal reflektieren, wie du richtig (funktional) handelst.</div>
        
    </section>

    <dev id="popupContainer">
        <div class="popup">
            <div class="description">
                <span>Kann ich noch sinnvoll Handeln?</span>
                <span>(Intensität unter 70%)</span>
            </div>
            <div class="selection">
                <button class="yes" onclick="popupOpen(1)"><i class="fa-solid fa-thumbs-up"></i></button>
                <button class="no" onclick="popupOpen(4)"><i class="fa-solid fa-thumbs-down"></i></button>
            </div>
        </div>
        <div class="popup">
            <div class="description">
                <span>Ist meine <span class="var"></span> der Situation angemessen?</span>
                <span>(Kein Sekundärgefühl oder altes Erleben)</span>
            </div>
            <div class="selection">
                <button class="yes" onclick="popupOpen(2)"><i class="fa-solid fa-thumbs-up"></i></button>
                <button class="no" onclick="popupOpen(4)"><i class="fa-solid fa-thumbs-down"></i></button>
            </div>
        </div>
        <div class="popup">
            <div class="description">
                <span>Ist mein Handlungsimpuls auch langfristig sinnvoll?</span>
            </div>
            <div class="selection">
                <button class="yes" onclick="popupOpen(3)"><i class="fa-solid fa-thumbs-up"></i></button>
                <button class="no" onclick="popupOpen(4)"><i class="fa-solid fa-thumbs-down"></i></button>
            </div>
        </div>
        <div class="popup">
            <div class="description">
                <span>Folge deinem Handlungsimpuls!</span>
                <span>Tu das, was dir deine <span class="var"></span> rät.</span>
            </div>
            <div class="selection">
                <button class="ok" onclick="popupOpen('close')">ok</button>
            </div>
        </div>
        <div class="popup">
            <div class="popupHead">
                <span><span class="var"></span>&nbsp;abschwächen!</span>
                <a href="javascript:void(0);" onclick="popupOpen('close')">
                    <i class="fa-solid fa-xmark fa-lg"></i>
                </a>
            </div>
            <div class="emotDescr" id="Trauer">
                <h2>Entgegengesetzt...</h2>
                <h2>Denken</h2>
                <ul>
                    <li>Gib dem Verlorenen einen Platz in deinem Herzen.</li>
                    <li>Denke an die Zeit, die dir mit der Person geschenkt wurde.</li>
                    <li>Denke daran, dass es vielleicht auch einen verborgenen Sinn gibt.</li>
                </ul>
                <h2>Handeln</h2>
                <ul>
                    <li>Trauer auf bestimme Orte, Zeiten begrenzen (Trauerrituale)</li>
                    <li>nach einiger Zeit Erinnerungen aus Alltag nehmen und an Gedenkstätte aufbewahren</li>
                    <li>dadurch auf Dauer zur Akzeptanz kommen</li>
                </ul>
            </div>
            <div class="emotDescr" id="Wut">
                <h2>Entgegengesetzt...</h2>
                <h2>Denken</h2>
                <ul>
                    <li>Wann und wo könnte die Person mir noch nützlich sein?</li>
                    <li>die Person wird mir irgendwann etwas Gutes tun</li>
                    <li>die Person wurde mir als geheimer Trainingspartner geschickt, um besser mit Wut umgehen zu lernen</li>
                </ul>
                <h2>Handeln</h2>
                <ul>
                    <li>Anspannung lösen, ruhig Atmen</li>
                    <li>sage etwas Freundliches, Versöhnliches</li>
                    <li>versetze dich in die andere Person</li>
                </ul>
            </div>
            <div class="emotDescr" id="Angst">
                <h2>Entgegengesetzt...</h2>
                <h2>Denken</h2>
                <ul>
                    <li>an Situationen denken, die ich schon bewältigt habe</li>
                    <li>an meine Geliebten Denken</li>
                    <li>an meinen sicheren Ort denken</li>
                </ul>
                <h2>Handeln</h2>
                <ul>
                    <li>setz dich der Situation aus, ohne Sicherheitsverhalten!</li>
                    <li>Kompetenz zur Situation aufbauen</li>
                </ul>
                <h2>Körperhaltung</h2>
                <ul>
                    <li>tiefe Atmung, Fäuste ballen</li>
                    <li>starke körperliche Reize gegen Dissoziazion</li>
                </ul>
            </div>
        </div>
    </div>
</main>

{{> footer}}

<script></script>
<script src="../style/style.js"></script>

</body>

</html>