<!DOCTYPE html>
<html lang="de-DE">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/6ea270afe6.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/style/style.css">
</head>
<body>

{{> navbar}}

<!-- Site Content -->
<h1>Gefühl-AHA</h1>
<hr>

<!-- Gefühl Tabelle -->

<div id="gefuehlTab">
    <div>
        <a href="javascript:void(0);">Trauer</a>
    </div>
    <div>
        <a href="javascript:void(0);"><i class="fa-solid fa-bars"></i></a>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

<div style="padding-bottom: 200vh;"></div>

{{> footer}}

<script src="../style/style.js"></script>

</body>

</html>