<!DOCTYPE html>
<html lang="de-DE">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/6ea270afe6.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/style/style.css">
</head>
<body>

{{> navbar}}

<main>
    <h1>Gefühl-AHA</h1>
    <hr>

    <a href="#explanation" class="linkClassic">Wie funktioniert es?</a>

    <div id="gefuehlTab">
        <div class="gefuehlBox" onclick="textBoxOpen(0)">
            <div>Trauer</div>
            <i class="fa-solid fa-arrow-down-wide-short"></i>
        </div>
        <div class="iconBox">
            <i class="fa-solid fa-arrow-right-long"></i>
        </div>
        <div class="explBox">
            <div>Wahrnehmung</div>
            <ul>
                <li>Umgebung wirkt fahl, leer</li>
                <li>Gefühl von Verzweiflung, Zerissenheit</li>
            </ul>
            <div>Handlungsdrang</div>
            <ul>
                <li>Rückzug aus Verantwortung, Beziehungen</li>
                <li>Signal nach Trost and die Umgebung</li>
            </ul>
            <div>Körperreaktion</div>
            <ul>
                <li>Weinen, Klagen, Müdigkeit</li>
                <li>Atemnot, Schmerz in der Brust</li>
            </ul>
        </div>
        <div class="gefuehlBox" onclick="textBoxOpen(1)">
            <div>Wut</div>
            <i class="fa-solid fa-arrow-down-wide-short"></i>
        </div>
        <div class="iconBox">
            <i class="fa-solid fa-arrow-right-long"></i>
        </div>
        <div class="explBox">
            <div>test</div>
        </div>
                <div class="gefuehlBox" onclick="textBoxOpen(2)">
            <div>Angst</div>
            <i class="fa-solid fa-arrow-down-wide-short"></i>
        </div>
        <div class="iconBox">
            <i class="fa-solid fa-arrow-right-long"></i>
        </div>
        <div class="explBox">
            <div>test</div>
        </div>
    </div>
    
</main>

{{> footer}}

<script src="../style/style.js"></script>

</body>

</html>